<div class="finish-page">
    <div class="ranking-container">
        <h1>Endergebnis</h1>

        <div class="ranking js-ranking">
            {% include ('module/ranking.twig') %}
        </div>
    </div>
</div>